<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7YS0e0rqaeWSGqmZKIzohWhmgfExROQU</string>
	<key>GCM_SENDER_ID</key>
	<string>961487994779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.chrisjames.knowyourflag</string>
	<key>PROJECT_ID</key>
	<string>mobidev-5e1c6</string>
	<key>STORAGE_BUCKET</key>
	<string>mobidev-5e1c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:961487994779:ios:b3e9b5b7ba9f0c83a4eb3e</string>
</dict>
</plist>
